<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdj.robot.mapper.UserMapper">

    <select id="selectByParams" parameterType="com.xdj.robot.dto.UserDto" resultType="com.xdj.robot.model.User">
        select *
        from user
        where iduser = 1

    </select>

</mapper>
